{% extends 'customauth/base.html' %} {% block title %}Login Page{% endblock %}

{% block body %} 
{% load crispy_forms_tags %}
    {% if 'registered' in request.GET %}
        <div class="container d-flex justify-content-center mt-2">
            <div class="alert alert-success alert-dismissible fade show w-50 text-center" role="alert">
                <p>User successfully created, use your credentials for logging in.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <div class="container d-flex justify-content-center mt-5">
        <form method="post" class="w-50">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
